body {
    font-family:Arial, sans-serif;
}
h1 {
    text-align:center;
}
hr {
    border:2px dashed cadetblue;
}
p {
    font-size:1.1rem;
}
nav a {
    text-decoration:none;
    background-color:aliceblue;
    padding:0.5em 1.2em;
    margin:2em;
    border: 2px solid cadetblue;
    border-radius:4px;
    font-size:1.1rem;
}
#iPod-Home {
    width:25%;
    height:100%;
}
#iPod-Home img {
    display:inline;
    width:100%;
}
.iPod-Text {
    display:inline;
    line-height:0;
}